

body {
  //background: #024E68;
  background: #DBD7D9;
  //color: white;
  font-family: 'Anaheim';
}
.container{
  width: 850px;
  margin-left: auto;
  margin-right: auto;
  color: white;
  padding-top: 50px;
  text-align: center;
}
.flat-form {
  background: #F4645F;;
  margin: 25px auto;
  width: 390px;
  position: relative;
  font-family: 'Anaheim';
  padding: 50px 50px 50px 50px;
  margin-top: 50px;

}
.form-action {
  padding: 0 20px;
  position: relative;
}

.form-action h1 {
  font-size: 42px;
  padding-bottom: 10px;
}
.form-action p {
  font-size: 12px;
  padding-bottom: 10px;
  line-height: 25px;
}
form {
  padding-right: 20px !important;
}
form input[type=text],
form input[type=password],
form input[type=submit] {
  font-family: 'Roboto';
}

form input[type=text],
form input[type=password] {
  width: 100%;
  height: 40px;
  margin-bottom: 10px;
  padding-left: 15px;
  background: #fff;
  border: none;
  color: #3D3B3B;
  font-size: 16px;
  outline: none;
}

.dark-box {
  background: #5e0400;
  box-shadow: 1px 3px 3px #3d0100 inset;
  height: 40px;
  width: 50px;
}
.form-action .dark-box.bottom {
  position: absolute;
  right: 0;
  bottom: -24px;
}
.tabs + .dark-box.top {
  position: absolute;
  right: 0;
  top: 0px;
}

.button{
    border: none;
  //  display: block;
    background: #CC2929;
    height: 60px;
    width: 100px;
    color: #ffffff;
    text-align: center;
    font-size: 20px;
    /*box-shadow: 0px 3px 1px #2075aa;*/
  	-webkit-transition: all 0.15s linear;
	  -moz-transition: all 0.15s linear;
	  transition: all 0.15s linear;
}

.button:hover{
  background: #FF8973;
  /*box-shadow: 0 3px 1px #237bb2;*/
}

.button:active {
  background: #bf4630;
  /*box-shadow: 0 3px 1px #0f608c;*/
}
#login,
#register{
  text-align: left;
}
::-webkit-input-placeholder {
  color: #024E68;
}
:-moz-placeholder {
  /* Firefox 18- */
  color: #024E68;
}
::-moz-placeholder {
  /* Firefox 19+ */
  color: #024E68;
}
:-ms-input-placeholder {
  color: #024E68;
}